{% from 'components/field.html' import render_field %}
{% extends "layout.html" %}
{% block body %}
    {% if current_user.is_authenticated %}
        <form action="{{ request.url }}" method="post" class="add-entry">
            {{ form.csrf_token }}
            <dl>
                {{ render_field(form.title) }}
                {{ render_field(form.text) }}
                <dd><input type="submit" value="Share"/></dd>
            </dl>
        </form>
    {% endif %}

    <ul class="entries">
        {% for entry in entries %}
            <li><h2>{{ entry.title }}</h2>{{ entry.text }}</li>
        {% else %}
            <li><em>No entries found!</em></li>
        {% endfor %}
    </ul>
{% endblock %}
